.app {
    background: radial-gradient(darkorange, salmon, ivory);
    color: darkblue;
    font-size: 5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
    padding: 0.4em;
    border-radius: 0.3em;
    border: 8px groove maroon;
    text-align: center;
}
img {
    max-width: 7vw;
}
button {
    background: linear-gradient(to top, navy, steelblue);
    padding: 16px;
    border-radius: 2.3em;
}
h1 {
    font-size: 0.8em;
}
h3 {
    margin-top: 0.8em;
}
span {
    font-size: 3em;
}