.app {
    background: linear-gradient(to bottom, steelblue, navy);
    color: ivory;
    font-size: 5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
    padding: 0.4em;
    border-radius: 0.3em;
    border: 8px groove indigo;
    text-align: center;
}
