.app {
    background: linear-gradient(to bottom, steelblue, navy);
    color: ivory;
    font-size: 5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
    padding: 0.4em;
    border-radius: 0.3em;
    border: 8px groove indigo;
    text-align: center;
}
img {
    max-width: 7vw;
}
button {
    background-color: firebrick;
}
h1 {
    font-size: 0.8em;
}
h3 {
    margin-top: 0.8em;
}